ENVIRONMENT=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DATABASE=retailpulse
POSTGRES_USER=retailpulse
POSTGRES_PASSWORD=change_me

MINIO_ENDPOINT=http://127.0.0.1:9002
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_ACCESS_KEY=retailpulse
MINIO_SECRET_KEY=change_me_minio_password
MINIO_BUCKET=retailpulse-raw

DELIVERY_API_BASE_URL=http://127.0.0.1:8002
