ENVIRONMENT=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=retailpulse
POSTGRES_USER=retailpulse
POSTGRES_PASSWORD=retailpulse_local_password

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me
MINIO_BUCKET=retailpulse-raw
