ENVIRONMENT=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DATABASE=retailpulse
POSTGRES_USER=retailpulse
POSTGRES_PASSWORD=change_me

MINIO_ENDPOINT=http://127.0.0.1:9002
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_ACCESS_KEY=retailpulse
MINIO_SECRET_KEY=change_me_minio_password
MINIO_BUCKET=retailpulse-raw

DELIVERY_API_BASE_URL=http://127.0.0.1:8002

# Snowflake
SNOWFLAKE_ACCOUNT=change_me
SNOWFLAKE_USER=change_me
SNOWFLAKE_PASSWORD=change_me
SNOWFLAKE_AUTHENTICATOR=snowflake
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=RETAILPULSE_WH
SNOWFLAKE_DATABASE=RETAILPULSE
SNOWFLAKE_SCHEMA=RAW
