# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Environnement Python
.venv/

# Variables secrètes
.env
.env.*
!.env.example

# Données générées
data/*
!data/sample/
!data/sample/.gitkeep

# Logs
logs/
*.log

# VS Code et IDE
.vscode/
.idea/

# Windows et macOS
Thumbs.db
.DS_Store

# dbt
target/
dbt_packages/

# Airflow
airflow/logs/
airflow/airflow.db

# Generated external source data
source_data/returns/*.csv
source_data/inventory/*.csv
source_data/deliveries/*.json

!source_data/returns/.gitkeep
!source_data/inventory/.gitkeep
!source_data/deliveries/.gitkeep
